<div class="container">
    <div class="row">
        <div class="col-md-4">
                <img  src="https://i.ibb.co/6FddtLJ/Whats-App-Image-2019-09-25-at-12-47-35.jpg" class="myimg img-fluid " alt="Responsive image">
  
        </div>
        <div class="col-md-4">
                <img  src="https://i.ibb.co/0Cdr34M/Whats-App-Image-2019-09-25-at-12-47-42-1.jpg" class="myimg img-fluid " alt="Responsive image2">

        </div>
        <div class="col-md-4">
                <img  src="https://i.ibb.co/D4tx0VT/Whats-App-Image-2019-09-25-at-12-47-43.jpg" class="myimg img-fluid " alt="Responsive image3">

        </div>
    </div>
</div>
