.phnumber{
    font-size: 40px;;
}
.slideimg{
    height: 365px;
    object-fit: cover;
    filter: brightness(100%);
}
.quote{
    font-size: 60px;
}
.description{
color:white;
font-size: 17px;
margin-top: 30%;
margin-right: 0px;
}
.fine_art{
    font-size: 30px;
}
